.two-boxes{
    height: 550px;
}

.two-boxes > .card{
    height: 100%;
}

.profile-container{position: relative;}

.backward{
    height: 70px;
}


.btns-down{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.btn-position{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn-position >button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff007c !important;
}

.btn-position >button:nth-of-type(1){
 margin-right: 20px;   
}

.modal-content{
    background-color: rgba(10, 52, 53, 0.83);
    max-height: 700px;
    min-height: 350px;
    padding: 1rem 2rem;
}

.modal-dialog{
    max-width: 800px;
    width: 800px;   
    /* left: 18% !important; */
}

.modal-content>.btns-down{
    height: 1000vh;
} 

.employee-form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

