.card-employee{
    /* background-color: #7AB6FC; */
    margin: 0;
    border-left: 20px solid;
    padding: 0.9375rem 20px;
position: relative;
color: #404A65;
font-weight: bold;
/* font-size:x-large; */
}

.card-present{
    /* background-color: #7AB6FC; */
    margin: 0;
    border-left: 20px solid;
    padding: 0.9375rem 20px;
position: relative;
color: #FAAF28;
font-weight: bold;
/* font-size:x-large; */
}

.card-req{
    /* background-color: #7AB6FC; */
    margin: 0;
    border-left: 20px solid;
    padding: 0.9375rem 20px;
position: relative;
color: #F3628E;
font-weight: bold;
/* font-size:x-large; */
}
/* .card{
background-color
} */
.total-system-usage >div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-system-usage >div:nth-of-type(1)>h3{
    margin: 10px 0;
}

.card-body{
    text-align: center;
}
.chart-div{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.card-body > img{
    width: 120px;
    height: 120px;
    margin:20px auto;
}

.add-btn{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.rounded-btn{
    border-radius: 50px;
    padding: 10px 20px;
}
.chart_contatiner{
    padding: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.row{
    margin-bottom: 2rem;
}

.card-text{
    height: 80px;
}

.table{margin-bottom: 0;}

.table-box{
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
    padding: 15px;
}

.option{
    cursor: pointer;
}

.table>tbody>tr>td{
    padding: 5px 8px;
}

td >p{
margin-bottom: 8px;
font-size: 13.5px;
    line-height: 18px;
    text-align: center;
}

.table thead tr th{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 50%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #00ccf2;
    border-radius: 50%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
border:none;
}

.custom-control-label::after{
    border-radius: 50%;
    border: 1px solid gray;
}

.full-height-card{
    height: 100%;
}

.dark-theme-color{
    background-color: #29313a;
    color: #fff;
}

.dark-theme-color h2,.dark-theme-color h3,
.dark-theme-color h6{
    color : #fff;
}

.dark-theme-color .ant-progress-text{
    color : #fff !important;
}